<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <script src="libs/jquery-3.1.0.js"></script>
    <script src="libs/angular.js"></script>
    <script src="libs/jquery.cookie.js"></script>
    <script src="js/register.js"></script>
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/register.css">
</head>
<body  ng-app="Formregister" ng-controller="registerController">
    <header>
        <div class="header-tops">
            <div class="header-l">
                <a href="index.html"><img src="image/logo-en.png" alt="logio图标"></a>
            </div>
           	<ul class="right">
                <li><span class="hi">Hi~</span>
                    <a href="login.html" class="loginbar">[ 请登录 ]</a> 
                    <a href="register.html" class="registerbar"> [ 免费注册 ]</a> </li>
                <li>
                    <a>MY有货</a><i></i></li>
                <li>
                    <a>订单中心</a></li>
                <li>
                    <a>帮助中心</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </header>
  <main>
        <div class="main-left">
            <img src="image/l.jpg" alt="">
        </div>
 
      <form name="FormRegister" novalidate ng-submit="submit()">
        <div>账户名:</div>
        <div>
          <input type="text" name="username" ng-pattern="/^[\u4e00-\u9fa5]{2,4}$/" ng-model="username" placeholder="请输入账户" autocomplete="off" required autofocus>
          <i class="icon-ok-sign" ng-show="FormRegister.username.$valid && FormRegister.username.$dirty"></i>
          <i class="icon-remove-sign" ng-show="FormRegister.username.$invalid && FormRegister.username.$dirty"></i>
        </div>
        <div>密码:</div>
        <div>
          <input type="password" name="password" ng-minlength="6" ng-maxlength="16" ng-pattern="/\w/" ng-model="password" required placeholder="请输入密码">
          <i class="icon-ok-sign" ng-show="FormRegister.password.$valid&&FormRegister.password.$dirty"></i>
          <i class="icon-remove-sign" ng-show="FormRegister.password.$invalid&&FormRegister.password.$dirty"></i>
        </div>
         <div>确认密码:</div>
        <div>
          <input type="password" name="repassword" ng-minlength="6" ng-maxlength="16" ng-pattern="password" ng-model="repassword" required placeholder="请确认密码">
          <i class="icon-ok-sign" ng-show="FormRegister.repassword.$valid&&FormRegister.repassword.$dirty&&FormRegister.repassword.$modelValue == FormRegister.password.$modelValue"></i>
          <i class="icon-remove-sign" ng-show="FormRegister.repassword.$invalid&&FormRegister.repassword.$dirty || repassword != password&&FormRegister.repassword.$dirty"></i>
        </div>
        <div>
          <input type="submit" ng-disabled="FormRegister.$invalid || checkusername" value="点击注册">
          <div class="register" onclick="location.href='login.html'">已有账号？<span>点击登录</span></div>
        </div>
    </form>
    <div class="clear"></div>
 </main>
<footer>
<div class="footer-bottom">
    <div class="footer-bottom-bottom">
        <div class="left-left">
            <ul>
                <li>
                    <i></i>
                    <span>100%</span>
                    <a href="">品牌正品</a>
                </li>
                <li>
                    <i class="ii2"></i>
                    <span>七天</span>
                    <a href="">无理由退换货</a>
                </li>
                <li>
                    <i class="ii3"></i>
                    <span>便捷</span>
                    <a href="">在线客服</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="dl">
            <dl>
                <dt>新手指南</dt>
                <dd>注册登录</dd>
                <dd>选购商品</dd>
                <dd>订单支付</dd>
                <dd>收货退款</dd>
            </dl>
            <dl>
                <dt>新手指南</dt>
                <dd>注册登录</dd>
                <dd>选购商品</dd>
                <dd>订单支付</dd>
                <dd>收货退款</dd>
            </dl>
            <dl>
                <dt>新手指南</dt>
                <dd>注册登录</dd>
                <dd>选购商品</dd>
                <dd>订单支付</dd>
                <dd>收货退款</dd>
            </dl>
            <dl>
                <dt>新手指南</dt>
                <dd>注册登录</dd>
                <dd>选购商品</dd>
                <dd>订单支付</dd>
                <dd>收货退款</dd>
            </dl>
            <dl>
                <dt>新手指南</dt>
                <dd>注册登录</dd>
                <dd>选购商品</dd>
                <dd>订单支付</dd>
                <dd>收货退款</dd>
            </dl>
            <dl>
                <dt>新手指南</dt>
                <dd>注册登录</dd>
                <dd>选购商品</dd>
                <dd>订单支付</dd>
                <dd>收货退款</dd>
            </dl>
            <dl style="margin-right:0px;">
                <dt>新手指南</dt>
                <dd>注册登录</dd>
                <dd>选购商品</dd>
                <dd>订单支付</dd>
                <dd>收货退款</dd>
            </dl>
           
            <div class="footer-last">
                <div class="footer-f">
                    <a href=""><img src="image/id1.png" alt=""></a>
                    <a href=""><img src="image/id.png" alt=""></a>
                    <a href=""><img src="image/id2.png" alt=""></a>
                </div>
                <div class="footer-m">
                    <p>
                        <a href="">返回首页</a><span>|</span>
                        <a href="">QIQU!GO 奇趣</a><span>|</span>
                        <a href="">新力传媒</a><span>|</span>
                        <a href="">联系我们</a><span>|</span>
                        <a href="">商家入驻</a><span>|</span>
                        <a href="">隐私条款</a><span>|</span>
                        <a href="">友情链接</a>
                    </p>
                    <p>CopyRight © 20016-2026 NewPower--ST Co. 版权所有 经营许可证编号：沪A2-20160395</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</footer>

    </body>
</html>








