.header-bottom{
	background-color:#7bd3f9; 
}
.header-m-l ul .li3{
  background-color:#7bd3f9; 
}

.header-m-l ul .li3 a h3{
	color:#fff;
}
.header-m-l ul .li3 a h3:nth-of-type(2){
	color:#fff; 
}
.header-m-bb form a{
	background-color: #7bd3f9;
}
.header-m-cart .cart{
	background-image: url(../image/ssshop.png);
}
.header-left-b ul li i{
	background-color: #7bd3f9;
	border:1px solid #7bd3f9;
}
.banner{width:1150px; margin: 10px auto 0; position: relative; }
.banner #box{position: relative; width: 1150px;height:450px;}
.banner #box ul{height: 450px;}
.banner #box ul li{position: absolute;display: none;}
.banner #box ul li img{width: 100%;height: 100%;}
.banner #icon{position: absolute;bottom: 5px;left:calc(50% - 84px);}
.banner #icon span{margin-right: 5px; display: inline-block;width: 15px;height: 15px; text-align: center;line-height: 15px; border-radius: 50%; background-color: #3e3e3e;}
.red-color{background: #fff!important;}
.banner .prev,.banner .next{display: none; position: absolute;padding: 10px 15px;background:#fff;opacity: 0.95; color: #59585a;top: calc(50% - 24px);font-size: 20px;}
.prev{left: 0px;cursor: pointer;}
.next{right: 0px; cursor: pointer;}

main{
	width: 1150px;
     margin: 0 auto;
}

.sameTo .sameTo1{
	border: 1px solid #000;
    text-align: center; 
	margin: 80px auto 40px;
	width: 298px;
	height: 31px;
	line-height: 31px;
}
.sameTo .sameTo1 h2{
	font-size: 16px;
	font-family: '宋体';
	font-weight: 400;
}
.sameTo .nav{
	width: 100%;
	height:558px;
	background: #8ae6e0; 
	position: relative;
}
.sameTo .nav .nav-ul{
	width: 980px;
	height: 433px;
	border: 1px solid #f00;
	position: absolute;
	top: calc(50% - 215px);
	left:85px;
	overflow: hidden;
}

.sameTo .lefts{
	position: absolute;
	top: calc(50% - 0px);
	left: 20px;
	background-image:url(../image/l.png);
	width: 40px;
	height: 30px;
}
.sameTo .rights{
	position: absolute;
	top: calc(50% - 0px);
	right: 20px;
	background-image:url(../image/r.png);
	width: 40px;
	height: 30px;
}
.sameTo .nav .nav-ul ul{
     width: 3950px;
	 height: 100%;
}
.sameTo .nav .nav-ul ul li{
	float: left;
}

.three-l{
	width: 185px;
	float: left;
}
.three-l .three-l-top a img{
	margin-bottom: 4px;
}
.three-l .three-l-bottom{
	height: 248px;
	padding: 10px 0;
	background-color: #f8f8f8;
	margin-top: 2px;
}
.three-l .three-l-bottom a{
	float: left;
	width: 50%;
	text-align: center;
	display: inline-block;
	height: 38px;
	font-size: 14px;
	line-height: 38px;
}
.three-l .three-l-bottom a:hover{
	color: #f00;
	transform: scale(1.1,1.1);
}
.three-m{
	width: 378px;
	height: 512px;
	float: left;
	margin-left: 8px;
}
.three-r{
	width: 579px;
	float: left;	
}
.three-r .ulr li{
	width: 185px;
	height: 248px;
	float: left;
	margin: 0px 0 0 8px; 
}
.three-r .ulr li img:hover{
	opacity: 0.5;
}
.three-m img:hover{
	opacity: 0.5;
}

/*main .one{
	width: 1150px;
	height: 300px;
	margin: 10px 0;
}
main .one img{
	width: 100%;
	height: 100%;
}*/